In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('ht_data.csv')

In [5]:
df.columns

Index(['Personal Care Activities', 'Household Activities',
       'Caring For & Helping Household (HH) Members',
       'Caring For & Helping Nonhousehold (NonHH) Members',
       'Work & Work-Related Activities', 'Education', 'Consumer Purchases',
       'Professional & Personal Care Services', 'Household Services',
       'Government Services & Civic Obligations', 'Eating and Drinking',
       'Socializing, Relaxing, and Leisure', 'Sports, Exercise, & Recreation',
       'Religious and Spiritual Activities', 'Volunteer Activities',
       'Telephone Calls', 'Traveling', 'Television and movies (not religious)',
       'Relaxing, thinking', 'age', 'year', 'edu', 'gender', 'race', 'salary',
       'metro'],
      dtype='object')

In [9]:
df.iloc[:,:-7] = df.iloc[:,:-7] / 60

In [10]:
df

,Personal Care Activities,Household Activities,Caring For & Helping Household (HH) Members,Caring For & Helping Nonhousehold (NonHH) Members,Work & Work-Related Activities,Education,Consumer Purchases,Professional & Personal Care Services,Household Services,Government Services & Civic Obligations,...,Traveling,Television and movies (not religious),"Relaxing, thinking",age,year,edu,gender,race,salary,metro
0,15.166667,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,5.416667,0.000000,60,2003,44,1,2,66000,-1
1,11.333333,0.000000,1.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.333333,1.000000,0.000000,41,2003,40,2,1,20000,-1
2,10.666667,4.250000,0.000000,0.0,0.000000,0.0,1.000000,0.0,0.0,0.0,...,0.166667,2.000000,0.000000,26,2003,41,2,1,20000,-1
3,11.833333,1.916667,4.083333,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,1.000000,0.000000,32,2003,43,2,1,57600,-1
4,8.750000,0.000000,0.000000,0.0,8.250000,0.0,0.000000,0.0,0.0,0.0,...,1.000000,3.500000,0.000000,21,2003,40,2,1,33250,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124823,8.500000,1.333333,2.450000,0.0,7.800000,0.0,0.000000,0.0,0.0,0.0,...,0.500000,1.333333,0.500000,33,2021,41,1,1,91920,2
124824,10.250000,1.000000,0.000000,0.0,0.000000,0.0,0.166667,0.0,0.0,0.0,...,1.000000,0.000000,2.250000,56,2021,43,1,1,28431,1
124825,12.000000,1.666667,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.000000,9.416667,0.000000,57,2021,43,1,1,173000,1
124826,9.833333,3.833333,1.166667,0.0,4.000000,0.0,0.000000,0.0,0.0,0.0,...,0.333333,4.500000,0.000000,34,2021,43,2,1,70500,2
124827,10.166667,0.000000,0.000000,0.0,7.916667,0.0,0.000000,0.0,0.0,0.0,...,0.666667,0.750000,0.083333,46,2021,43,1,1,149040,1

In [11]:
df.to_csv("data.csv", index=False)